PORT=3000

BLING_CLIENT_ID=
BLING_CLIENT_SECRET=
BLING_ACCESS_TOKEN=
BLING_REFRESH_TOKEN=
BLING_WEBHOOK_SECRET=

SHOPIFY_STORE=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_API_VERSION=2026-01
