PORT=3000

# Bling credentials
BLING_ACCESS_TOKEN=
BLING_WEBHOOK_SECRET=
BLING_API_URL=https://bling.com.br/Api/v2

# Shopify credentials
SHOPIFY_STORE=
SHOPIFY_ADMIN_TOKEN=
SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_API_VERSION=2026-01
